<section class="mb-5">
    <h3>{{ blog.title }}</h3>
    <p class="fs-5 mb-4">{{ blog.blog_body }}</p>

    <h4>Comments ({{ comment_count }})</h4>

    {% if comments %}
        {% for comment in comments %}
            <div class="card p-3 mb-2">
                <p class="card-text">{{ comment.comment }}</p>
                <small>
                    By {{ comment.user.username }} | {{ comment.created_at|timesince }} ago
                </small>
            </div>
        {% endfor %}
    {% else %}
        <p>No comment yet</p>
    {% endif %}

    <hr>

    <h5>Write a comment</h5>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</section>
