{% extends 'base/base.html' %}


{% block content %}
<div class="row">

    <!-- left sidebar -->
    <div class="col-md-3">
        <!-- load left sidebar -->
        {% include 'dashboard/leftsidebar.html' %}

    </div>
    <!-- right sidebar -->
    <div class="col-md-9">
        <h3>All Posts</h3>
        <a href="{% url 'dashboard:posts'%}" class="btn btn-dark text-light float-right mb-2">Add new posts</a>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Category</th>
                    <th>Author</th>
                    <th>Status</th>
                    <th>Feacherd</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for post in posts %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ post.title }}</td>
                    <td>{{ post.category }}</td>
                    <td>{{ post.author }}</td>
                    <td>{{ post.status }}</td>
                    <td>{% if post.is_feacherd %} <i class="fa-solid fa-check text-success"></i> {% else %} <i class="fa-solid fa-xmark text-danger text-bold"></i> {% endif %}</td>
                    <td >
                        <a href="{% url 'dashboard:update_posts' post.pk %}"><i class="fa-solid fa-pen-to-square text-success"></i></a> &nbsp;&nbsp;
                        <a href="{% url 'dashboard:delete_posts' post.pk %}"><i class="fa-solid fa-trash-can text-danger "></i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}